In [496]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [497]:
df = pd.read_csv("IMDbMoviesIndia.csv", encoding="ISO-8859-1")

In [498]:
df.head(4)

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor

In [499]:
df.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

In [500]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [501]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [502]:
# Apply cleaning operations to multiple columns
# datatype integer
columns_to_clean = ['Duration', 'Year', 'Votes']

for col in columns_to_clean:
    df[col] = df[col].str.replace(r'\D', '', regex=True).fillna(0).astype(int)

# datatype float
df['Rating'] = df['Rating'].fillna(0)

In [503]:
# datatype string 
columns_to_clean_2 = ['Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']
for col in columns_to_clean_2:
    df[col] = df[col].fillna('0')

In [504]:
df.isnull().sum()

Name        0
Year        0
Duration    0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [505]:
df.describe()

               Year      Duration        Rating          Votes
count  15509.000000  15509.000000  15509.000000   15509.000000
mean    1919.364885     59.812754      2.982771     989.854858
std      361.209492     66.906727      3.082644    8346.895970
min        0.000000      0.000000      0.000000       0.000000
25%     1964.000000      0.000000      0.000000       0.000000
50%     1990.000000      0.000000      2.800000       6.000000
75%     2008.000000    129.000000      6.000000      59.000000
max     2022.000000    321.000000     10.000000  591417.000000

In [506]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Load your dataset (assuming it's named 'df')
# df = pd.read_csv("your_dataset.csv")  # Replace with the path to your dataset

# Initialize LabelEncoder for 'Genre' and 'Director' columns
label_encoder = LabelEncoder()

# Encode 'Genre' column
if 'Genre' in df.columns:
    df['Genre'] = label_encoder.fit_transform(df['Genre'])

# Encode 'Director' column
if 'Director' in df.columns:
    df['Director'] = label_encoder.fit_transform(df['Director'])

In [507]:
categorical_columns = ['Actor 1', 'Actor 2', 'Actor 3']

for col in categorical_columns:
    if col in df.columns:
        df = pd.get_dummies(df, columns=[col], prefix=[col])

In [508]:
# Define your features and target
features = ["Director", "Actor 1", "Actor 2", "Actor 3", "Genre"]  # Include 'Genre' after encoding
X = features
y = df["Rating"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Create and train a Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

In [ ]:
# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Mean Squared Error: {mse:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")
print(f"R-squared (R2) Score: {r2:.2f}")